*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}


.premiere-page {
    position: fixed;
    bottom: 100px;
    right: 20px;
    padding: 10px 15px;
    font-size: 18px;
    background-color: white;
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; 
    z-index: 2;
    opacity: 0.5;
}

.premiere-page:hover {
    opacity: 1;
}

.bouton-navigation{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    padding: 10px 15px;
    font-size: 18px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    opacity: 0.5;
}

.fa-arrow-up {
    color: black;
    font-weight: 900;
}
.fa-bars{
    color: black;
  
}
/***************************************************HEADER****************************************************************************/

.navigation{
    position: fixed;
    height: 60px;
    width: 100%;
    padding: 3px 0px 3px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    box-shadow: 0px 2px 20px rgba(106, 104, 104, 0.731);
    gap: 20px;
}

.element-navigation{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: black;
    font-weight: 700;
    font-size: 20px;
    margin-right: 5px;
}

.active {
    box-shadow: 0px 3px 0px -1px rgb(255,0,0); 
}

/*****************************************************MAIN*****************************************************************************/

/*****************************************************HEADER***************************************************************************/

.accueil{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.image-accueil{
    width: 80%;
}

.image{
    height: 100%;
    width: 100%;
}

.bouton-accueil{
    height: 110px;
    width: 500px;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    color: white;
    background: rgb(255,0,0);
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0
}

/****************************************************A-PROPOS**************************************************************************/

.a-propos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    margin: 0 10px 0 10px;
}

.photo-a-propos {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    height: 500px;
    width: 500px;
    border-radius: 1500px;
    overflow: hidden;
    margin-top: 150px;
}

.photo-profil {
    width: 100%;
    align-self: top;
}

.texte-a-propos {
    height: 900px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sous-titre-texte-a-propos {
    font-size: 55px;
    color: #ff0000;
    margin-bottom: 20px;
}

.texte {
    color: white;
    font-size: 16px;
    line-height: 35px;
}

/***********************************************MES TECHNOS****************************************************************************/

.mes-technos{
    height: 100vh;
    background-color: black;
    background-image: url("./images/background-mes-techno.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 40px 0 40px;
    box-sizing: border-box;
}

.titre-mes-technos{
    font-size: 60px;
    color: #31bc92;
    display: flex;
    justify-content: center;
}

.texte-mes-technos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}

.titre-liste-mes-technos {
    font-size: 30px;
    margin-bottom: 15px;
}

.ul-mes-technos{
    margin-left: 50px;
    text-decoration: white;
}

.li-mes-technos {
    font-size: 16px;
    margin-bottom: 10px;
}

.bouton-mes-technos {
    height: 90px;
    width: 350px;
    border-radius: 20px;
    background-color: #31bc92;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

/************************************************PORTFOLIO*****************************************************************************/

.portfolio {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.titre-portfolio {
   font-size: 60px;
   color: #ffe453;
   margin-top: 100px;
}

.gallerie-carte-portfolio {
    height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.carte-portfolio {
    display: block;
    height: auto;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: hidden;
    box-shadow: 1px 2px 40px rgb(71, 70, 70);
    text-decoration: none;
}

.carte-portfolio:hover {
    box-shadow: 1px 2px 40px #ffe453;
}
    

.img-carte-portfolio{
    width: 100%;
}

.info-carte-portfolio {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.titre-carte-portfolio {
    color: #ffe453;
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
}

.texte-info-carte-portfolio {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

/*************************************************************FOOTER*******************************************************************/

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    background-image: url("./images/stephDev.tech.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 200px;
}

.div-contact-info {
    height: 500px;
    width: 500px;
    padding: 10px;
    border: 15px double white;
    border-radius: 5px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titre-contact{
    font-size: 40px;
}

.titre-infos-contact {
    font-size: 30px;
    margin-bottom: 20px;
}

.li-infos-contact {
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
}

.tel-infos-contact {
    font-size: 20px;
    text-decoration: none;
}

/**************************************************RESPONSIVE*************************************************************************/

@media (max-width: 1025px) {

    .element-navigation{
        font-size: 19px;
    }

    .hamburger {
        display: none;
    }

    /***************************************************ACCUEIL***************************************************************************/
    
    .accueil {
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .image-accueil {
        width: 80%;
    }

    .bouton-accueil{
        height: 80px;
        width: 330px;
        font-size: 25px;
    }

    /********************************************************A PROPOS*********************************************************************/
    
    .a-propos {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    
    .photo-a-propos {
        margin: 0;
        height: 400px;
        width: 300px;
        margin-bottom: 50px;
    }
    
    .photo-profil {
        width: 100%;
    }

    .sous-titre-texte-a-propos {
        font-size: 80px;
        margin-bottom: 70px;
    }
    
    .texte-a-propos {
        width: 100%;
        box-sizing: border-box;
        padding: 90px;
        align-items: center;
    }
   
    .texte {
        font-size: 15px;
        line-height: 35px;
        text-align: justify;
    }

    /**********************************************************MES TECHNOS****************************************************************/

    .mes-technos{
        height: auto;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
    }

    .titre-mes-technos{
        font-size: 55px;
        margin-bottom: 30px;
    }

    .liste-mes-technos {
        margin-bottom: 30px;
    }


    .titre-liste-mes-technos {
        font-size: 35px;
        margin-bottom: 15px;
        text-align: center;
    }

    .li-mes-technos {
        font-size: 19px;
        margin-bottom: 8px;
    }

    .bouton-mes-technos {
        height: 100px;
        width: 420px;
        margin-left: 0;
        margin-top: 30px;
    }

    /*****************************************************PORTFOLIO**********************************************************************/
    
    .portfolio {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 200px;
    }

    .titre-portfolio {
        font-size: 70px;
        margin-top: 75px;
    }

    .gallerie-carte-portfolio {
        margin-top: 50px; 
    }

    .carte-portfolio {
        height: auto;
        width: 60%;
    }
    
    .img-carte-portfolio{
        display: flex;
        justify-content: center;
    }

    .info-carte-portfolio {
        margin-left: 10px;
    }

    .titre-carte-portfolio {
        font-size: 25px;
        font-weight: 600;
    }

    .texte-info-carte-portfolio {
        font-size: 13px;
    }

    /*******************************************************CONTACT**********************************************************************/
    
    .contact {
        width: 100%;
        align-items: center;
        justify-content: center;
        background-image: none;
        margin-bottom: 200px;
    }

    .div-contact-info {
        height: 600px;
        width: 600px;
        padding: 10px;
        box-sizing: border-box;
        border: 15px double white;
        border-radius: 5px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
/*********************************************************TABLETTE/MOBILES***********************************************************/
@media (max-width: 769px) {
    .bouton-navigation{
        display: block;
        position: fixed;
        bottom: 50px;
        right: 20px;
        padding: 10px 15px;
        font-size: 18px;
        background-color: white;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 2;
        opacity: 0.5;
    }
    
    .navigation{
        position: fixed;
        bottom: 0px;
        width: 100%;
        justify-content: space-around;
        background-color: black;
        flex-direction: column;
        height: 100%;
        z-index: 3;
    }

    .navigation-fermer{
        display: none;

    }
    .element-navigation {
        font-size: 15px;
        width: 50%;
        gap: 0px;
    }

    /***************************************************ACCUEIL***************************************************************************/
    
    .accueil {
        height: auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 90px;
    }

    .image-accueil {
        width: 100%;
    }

    .bouton-accueil{
        height: 75px;
        width: 250px;
        font-size: 20px;
    } 


    /********************************************************A PROPOS*********************************************************************/
    
    .a-propos {
        margin-bottom: 0;
        height: auto;
    }
    
    .photo-a-propos {
        margin: 0;
        height: 300px;
        width: 150px;
        margin-bottom: 50px;
    }
    
    .photo-profil {
        width: 100%;
    }

    .sous-titre-texte-a-propos {
        font-size: 50px;
        margin-bottom: 20px;
    }
    
    .texte-a-propos {
        height: auto;
        width: 100%;
        box-sizing: border-box;
        padding: 12px;
        align-items: center;
        text-align: center;
        margin-top: 0;
    }
   
    .texte {
        font-size: 13px;
        line-height: 20px;
        text-align: justify;
    }

    /**********************************************************MES TECHNOS****************************************************************/

    .mes-technos{
        height: auto;
        padding: 0;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        background-image: none;
    }

    .titre-mes-technos{
        font-size: 35px;
        margin-bottom: 50px;
    }

    .texte-mes-technos {
        margin-left: 0;
        margin-right: 5px;
    }

    .liste-mes-technos {
        margin-bottom: 10px;
    }

    .titre-liste-mes-technos {
        font-size: 20px;
        text-align: center;
    }

    .li-mes-technos {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .bouton-mes-technos {
        height: 100px;
        width: 290px;
        font-size: 18px;
        margin-left: 0;
    }

    /*****************************************************PORTFOLIO**********************************************************************/
    
    .portfolio {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }

    .titre-portfolio {
        font-size: 35px;
    }

    .gallerie-carte-portfolio {
        margin-top: 50px; 
    }

    .carte-portfolio {
        height: auto;
        width: 80%;
    }
    
    .img-carte-portfolio{
        display: flex;
        justify-content: center;
    }

    .info-carte-portfolio {
        margin-left: 5px;
    }

    .titre-carte-portfolio {
        font-size: 18px;
        font-weight: 600;
    }

    .texte-info-carte-portfolio {
        font-size: 12px;
    }

    /*******************************************************CONTACT**********************************************************************/
    
    .div-contact-info {
        height: 600px;
        width: 90%;
        
    }

    .titre-contact{
        font-size: 35px;
    }
    
    .titre-infos-contact {
        font-size: 22px;
        margin-bottom: 20px;
    }
    
    .li-infos-contact {
        font-size: 16px;
    }
    
    .tel-infos-contact {
        font-size: 16px;
    }
}
