*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans serif;
    color: white;
}

body {
    background-color: black
}
/***************************************************HEADER****************************************************************************/
.navigation{
    height: 60px;
    width: 100%;
    padding: 5px 0px 5px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    gap: 20px;
}

.element-navigation{
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: 700;
    font-size: 20px;
    margin-right: 5px;
}

/*****************************************************MAIN*****************************************************************************/

/*****************************************************HEADER***************************************************************************/
.accueil{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.image-accueil{
    width: 80%;
}

.image{
    height: 100%;
    width: 100%;
}

.bouton-accueil{
    height: 110px;
    width: 750px;
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
    color: white;
    background: rgb(255,0,0);
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0
}

/****************************************************A-PROPOS**************************************************************************/
.a-propos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    margin-bottom: 200px;
}

.photo-a-propos {
    height: 900px;
    width: 600px;
    border-radius: 1500px;
    overflow: hidden;
}

.photo-profil {
    width: 100%;
}

.texte-a-propos {
    height: 900px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sous-titre-texte-a-propos {
    font-size: 80px;
    color: #ff0000;
    margin-bottom: 30px;
}

.texte {
    color: white;
    font-size: 20px;
    line-height: 35px;
}

/***********************************************MES TECHNOS****************************************************************************/
.mes-technos{
    background-color: black;
    background-image: url("/images/background-mes-techno.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.titre-mes-technos{
    font-size: 80px;
    color: #31bc92;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.texte-mes-technos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 90px;
    margin-left: 30px;
}

.titre-liste-mes-technos {
    font-size: 40px;
    margin-bottom: 15px;
}

.ul-mes-technos{
    margin-left: 50px;
    text-decoration: white;
}

.li-mes-technos {
    font-size: 25px;
    margin-bottom: 10px;
}

.bouton-mes-technos {
    height: 100px;
    width: 570px;
    border-radius: 20px;
    background-color: #31bc92;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
/************************************************PORTFOLIO*****************************************************************************/
.portfolio {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.titre-portfolio {
   font-size: 80px;
   color: #ffe453;
   margin-top: 100px;
}

.gallerie-carte-portfolio {
    height: max-content;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.carte-portfolio {
    display: block;
    height: auto;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: hidden;
    box-shadow: 1px 2px 40px rgb(71, 70, 70);
    text-decoration: none;
}

.carte-portfolio:hover {
    box-shadow: 1px 2px 40px #ffe453;
}
    

.img-carte-portfolio{
    width: 100%;
}

.info-carte-portfolio {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.titre-carte-portfolio {
    color: #ffe453;
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
}

.texte-info-carte-portfolio {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
/*************************************************************FOOTER*******************************************************************/
.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    background-image: url("/images/stephDev.tech.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 200px;
}

.div-contact-info {
    height: 600px;
    width: 600px;
    padding: 10px;
    border: 15px double white;
    border-radius: 5px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titre-contact{
    font-size: 50px;
}

.titre-infos-contact {
    font-size: 40px;
    margin-bottom: 20px;
}

.li-infos-contact {
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
}

.tel-infos-contact {
    font-size: 20px;
}

/**************************************************RESPONSIVE*************************************************************************/

@media (max-width: 1025px) {

    .element-navigation{
        font-size: 19px;
    }

/***************************************************ACCUEIL***************************************************************************/
    
    .accueil {
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .image-accueil {
        width: 80%;
    }

    .bouton-accueil{
        height: 80px;
        width: 330px;
        font-size: 25px;
    }

/********************************************************A PROPOS*********************************************************************/
    
    .a-propos {
        flex-direction: column; 
        justify-content: center;
        margin-bottom: 0;
    }
    
    .photo-a-propos {
        margin: 0;
        height: 400px;
        width: 300px;
    }
    
    .photo-profil {
        width: 100%;
    }

    .sous-titre-texte-a-propos {
        font-size: 80px;
        margin-bottom: 70px;
    }
    
    .texte-a-propos {
        width: 100%;
        box-sizing: border-box;
        padding: 90px;
        text-align: center;
        align-items: center;
    }
   
    .texte {
        font-size: 18px;
        line-height: 35px;
    }

/**********************************************************MES TECHNOS****************************************************************/

    .mes-technos{
        height: auto;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
    }

    .titre-mes-technos{
        font-size: 55px;
    }

    .liste-mes-technos {
        margin-bottom: 30px;
    }


    .titre-liste-mes-technos {
        font-size: 35px;
        margin-bottom: 15px;
        text-align: center;
    }

    .li-mes-technos {
        font-size: 19px;
        margin-bottom: 10px;
    }

    .bouton-mes-technos {
        height: 100px;
        width: 420px;
        margin-left: 0;
    }

/*****************************************************PORTFOLIO**********************************************************************/
    
    .portfolio {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 200px;
    }

    .titre-portfolio {
        font-size: 80px;
        color: #ffe453;
        margin-top: 100px;
    }

    .gallerie-carte-portfolio {
        margin-top: 90px; 
    }

    .carte-portfolio {
        height: 680px;
        width: 60%;
    }
    
    .img-carte-portfolio{
        display: flex;
        justify-content: center;
    }

    .info-carte-portfolio {
        margin-left: 10px;
    }

    .titre-carte-portfolio {
        color: #ffe453;
        font-size: 25px;
        font-weight: 600;
    }

    .texte-info-carte-portfolio {
        font-size: 13px;
    }
/*******************************************************CONTACT**********************************************************************/
    .contact {
        width: 100%;
        align-items: center;
        justify-content: center;
        background-image: none;
        margin-bottom: 200px;
    }

    .div-contact-info {
        height: 700px;
        width: 700px;
        padding: 10px;
        box-sizing: border-box;
        border: 15px double white;
        border-radius: 5px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 769px) {
    .navigation{
        position: fixed;
        bottom: 0px;
        width: 100%;
        justify-content: space-around;
        background-color: white;
    }

    .element-navigation {
        font-size: 12px;
    }

/***************************************************ACCUEIL***************************************************************************/
    
    .accueil {
        height: auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 90px;
    }

    .image-accueil {
        width: 100%;
    }

    .bouton-accueil{
        height: 80px;
        width: 330px;
        font-size: 20px;
    }

/********************************************************A PROPOS*********************************************************************/
    
    .a-propos {
        margin-bottom: 0;
    }
    
    .photo-a-propos {
        margin: 0;
        height: 300px;
        width: 150px;
    }
    
    .photo-profil {
        width: 100%;
    }

    .sous-titre-texte-a-propos {
        font-size: 50px;
        margin-bottom: 1px;
    }
    
    .texte-a-propos {
        width: 100%;
        box-sizing: border-box;
        padding: 12px;
        align-items: center;
        text-align: center;
        margin-top: 0;
    }
   
    .texte {
        font-size: 12px;
        line-height: 30px;
    }

/**********************************************************MES TECHNOS****************************************************************/

    .mes-technos{
        height: auto;
        padding: 0;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
    }

    .texte-mes-technos {
        margin-left: 0;
        margin-right: 5px;
    }

    .titre-mes-technos{
        font-size: 35px;
    }

    .liste-mes-technos {
        margin-bottom: 30px;
    }

    .titre-liste-mes-technos {
        font-size: 20px;
        text-align: center;
    }

    .li-mes-technos {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .bouton-mes-technos {
        height: 100px;
        width: 310px;
        font-size: 18px;
        margin-left: 0;
    }

/*****************************************************PORTFOLIO**********************************************************************/
    
    .portfolio {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }

    .titre-portfolio {
        font-size: 35px;
        color: #ffe453;
        margin-top: 100px;
    }

    .gallerie-carte-portfolio {
        margin-top: 90px; 
    }

    .carte-portfolio {
        height: auto;
        width: 80%;
    }
    
    .img-carte-portfolio{
        display: flex;
        justify-content: center;
    }

    .info-carte-portfolio {
        margin-left: 10px;
    }

    .titre-carte-portfolio {
        color: #ffe453;
        font-size: 18px;
        font-weight: 600;
    }

    .texte-info-carte-portfolio {
        font-size: 12px;
    }

/*******************************************************CONTACT**********************************************************************/
    
    .contact {
        align-items: center;
        justify-content: center;
        background-image: none;
        margin-bottom: 200px;
    }

    .div-contact-info {
        height: 600px;
        width: 90%;
    }

    .titre-contact{
        font-size: 40px;
    }
    
    .titre-infos-contact {
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .li-infos-contact {
        font-size: 20px;
    }
    
    .tel-infos-contact {
        font-size: 20px;
    }
}







